{% extends "layout.njk" %}}
{% block content %}
  <ul >
        {% for book in myBooks %}
        {% if parameterValue === book.slug%}
        <li> Name: {{book.name}} </li>
        <li> Author: {{book.author}} </li>
        <li> Year: {{book.year}} </li>
        <img src="/{{book.image}}" alt="book" />
        {% endif %}
        {% endfor %}

  </ul>
{% endblock %}
