<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Favorites Books</title>
  </head>
  <body>
  <ul >
  {# {{myBooks.name},{myBooks.author},{myBooks.year}} #}
      <li> Name: {{parameterValue}} </li>
        {% if parameterValue === "Thinking fast and Slow"%}
        <li> Author: {{myBooks[0].author}} </li>
        <li> Year: {{myBooks[0].year}} </li>
      {% endif %}
        {% if parameterValue === "Indistractable: How to Control Your Attention and Choose Your Life"%}
        <li> Author: {{myBooks[1].author}} </li>
        <li> Year: {{myBooks[1].year}} </li>
        {% endif %}
      {% if parameterValue === "The Lazy Genius Way: Embrace What Matters, Ditch What Doesn't, and Get Stuff Done"%}
        <li> Author: {{myBooks[2].author}} </li>
        <li> Year: {{myBooks[2].year}} </li>
        {% endif %}

  </ul>

  </body>
  <footer>
  </footer>
</html>
