{% extends "layout.njk" %}}
{% block content %}

      {%for book in myBooks%}

        <div class = "image">

            <a href="/{{book.slug}}" >
            <img  src="/{{book.image}}" alt="book" />
          </a>
          <div >
              <a class = "title" href="/{{book.slug}}" >{{book.name}}
              </a>
            </div>
        </div>
      {% endfor %}

{% endblock %}
